---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProfilePicture from "../components/ProfilePicture.astro";

const pageTitle = "About Me";

const identity = {
    name: "Patrick Schröder",
    age: 36,
    country: "Germany",
    interests: ["coding", "photography", "traveling"],
};
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="../favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header />

        <h1>{pageTitle}</h1>
        <ProfilePicture />
        <h2>whoami:</h2>
        <ul>
            <li>
                My name is {identity.name}, I am {identity.age} years old and I live
                in {identity.country}.
            </li>
            <li>My interests include {identity.interests.join(", ")}.</li>
        </ul>

        <Footer />
        <script>
            import "../scripts/menu.js";
        </script>
    </body>
</html>
