---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const pageTitle = "Path of working";

const skills = [
	{ name: "JavaScript", level: "Advanced" },
	{ name: "Astro", level: "Intermediate" },
	{ name: "HTML & CSS", level: "Advanced" },
	{ name: "Node.js", level: "Intermediate" },
];

const skillColor = "green";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="./favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />

		<h1>{pageTitle}</h1>
		<style define:vars={{ skillColor, fontWeight, textCase }}>
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>

		<p>patrick.nixon --version</p>

		<ul>
			{
				skills.map((skill) => (
					<li class="skill">
						{skill.name} - {skill.level}
					</li>
				))
			}
		</ul>

		<p>patrick.nixon --list-projects:</p>
		<ul>
			<li>
				<a href="/portfolio-astro/work/projects/project-1/"
					>My First Project</a>
			</li>
			<li>
				<a href="/portfolio-astro/work/projects/project-2/"
					>My Second Project</a>
			</li>
			<li>
				<a href="/portfolio-astro/work/projects/project-3/"
					>My Third Project</a>
			</li>
		</ul>

		<p>patrick.nixon --list-preferences:</p>
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
